<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    <title>PetConnect</title>
</head>
<body>
    

    <div class = "main-container">
        <h1 class="title">Welcome to <span>PawMatch</span></h1>
        <img class="main-img" src="https://i.postimg.cc/rsvLtbC3/cat-dog-are-looking-camera-cat-is-looking-camera.jpg">
        <div class="main-options">
            <a class="url-options" href="/pets">All Pets</a>
            <a class="url-options" href="/pets/new">Create new pet</a>
        </div>
    </div>
    
</body>
</html>