<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetConnect</title>
</head>
<body>
    <div class = "container">
        <h1 class="title">Welcome to PetConnect</h1>
        <a href="/pets/new">Add a new pet </a>
        <a href="/pets">Meet all the pets</a>

    </div>
    
</body>
</html>