<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>All Pets</title>
    </head>
    <body>
        <header>
            <%- include('../partials/nav') %>
            <h2>Meet your partner today</h2>
        </header>

        <%allPets.forEach((pet)=>{%>
            <div>
                <p><a href="/pets/<%=pet._id%>"><%=pet.name%></a></p>
                <img src="<%=pet.imageUrl%>">
            </div>
        <%})%>
        
    </body>
</html>