<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>All Pets</title>
    </head>
    <body>
        <div class="container">
            <header>
                <%- include('../partials/nav') %>
            </header>
            <h2>Meet your partner today</h2>
            <div class="all-pets-container">
                <%allPets.forEach((pet)=>{%>
                    <a href="/pets/<%=pet._id%>">
                        <div class="card-container">
                            <img class="pet-img" src="<%=pet.imageUrl%>">
                            <p>Name: <%=pet.name%></p>
                        </div>
                    </a>
                <%})%>
            </div>
        </div>
    </body>
</html>