@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Rubik+Gemstones&display=swap');

body{
    background-image: url('https://i.postimg.cc/qRkSh0fc/nkt-03.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    width: 100vw;
    min-height: 100vh;
    font-family: "Funnel Display", sans-serif;
}

h1{
    font-family: "Rubik Gemstones", system-ui;
    font-size: 40px;
    color: #3b89dd;
}


/* CSS main page */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 30px 0 30px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.main-img{
    width: 800px;
}

.url-options{
    padding: 10px;
    background-color: #0459b4;
    border-radius: 10px;
    color: white;
    font-weight:500;
    text-decoration: none; 
}

.url-options:hover{
    transform: scale(1.1);
}

.main-options{
    margin-top: 20px;
    display: flex;
    gap:30px;
}
