@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Rubik+Gemstones&display=swap');

body{
    background-image: url('https://i.postimg.cc/qRkSh0fc/nkt-03.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    width: 100vw;
    min-height: 100vh;
    font-family: "Funnel Display", sans-serif;
}

h1{
    font-family: "Rubik Gemstones", system-ui;
    font-size: 40px;
    color: #3b89dd;
}

h2{
    font-size: 40px;
    color: #eb8487;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;  
    padding: 20px;
}

a{
    text-decoration: none; 
}

.a-nav{
    color: #eb5155;
    font-size: 20px;
    font-weight: 500;
}

/* CSS main page */
.main-container, .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 30px 0 30px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.container{
    justify-content: flex-start; 
    width: 70%;
    min-height: 80vh;
}


.main-img{
    width: 800px;
}

.url-options{
    padding: 10px;
    background-color: #0459b4;
    border-radius: 10px;
    color: white;
    font-weight:500;
    text-decoration: none; 
}

.url-options:hover, .a-nav:hover {
    transform: scale(1.1);
}

.main-options{
    margin-top: 20px;
    display: flex;
    gap:30px;
}

.all-pets-container{
    width:80%;
    display: flex;
    gap: 30px;
}

.card-container {
    background-color: rgb(244 156 159 / 64%);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 1px 5px rgba(118, 117, 117, 0.3);

}
.card-container:hover{
    transform: scale(1.1);
}
.pet-img{
    width: 120px;
    border-radius: 10px;
}

.pet-img-info{
    width: 300px;
    border-radius: 10px;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.info-container{
    display: flex;
    padding: 30px;
    gap: 30px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;
}


.fieldset-1{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
}